<h1>{{title}}</h1>
<p>Welcome to {{title}}</p>

<h1>Users:</h1>
<div class="list-group row mb-5" id="users-container">
</div>

<h1>Posts:</h1>
<div class="row" id="posts-container">
</div>


<div id="templates" style="display:none;">
  <a href="javascript:;" class="list-group-item list-group-item-action flex-column align-items-start user-card col-12">
    <div class="d-flex w-100 justify-content-between">
      <h5 class="mb-1 user-name">List group item heading</h5>
      <small class="user-phone">1-770-736-8031 x56442</small>
    </div>
    <p class="mb-1 user-company">Romaguera-Crona. Multi-layered client-server neural-net.</p>
    <small class="user-email">Sincere@april.biz</small>
  </a>

  <div class="card post-card col-3">
    <div class="card-body">
      <h5 class="card-title post-title">Special title treatment</h5>
      <p class="card-text post-body">With supporting text below as a natural lead-in to additional content.</p>
      <a href="javascript:;" class="btn btn-danger">Delete</a>
    </div>
  </div>
</div>