
<h1>Users:</h1>
{{users}}
<div class="list-group row mb-5" id="users-container">
</div>



<div id="templates" style="display:none;">
  <a href="javascript:;" class="list-group-item list-group-item-action flex-column align-items-start user-card col-12">
    <div class="d-flex w-100 justify-content-between">
      <h5 class="mb-1 user-name">List group item heading</h5>
    </div>
    <p class="mb-1 user-team"></p>
    <p class="mb-1 user-days">0</p>
    <small class="user-email">Sincere@april.biz</small>
    
  </a>
</div>